:root {
  --color-primary-white: #FFFFFF;
  --color-primary-orange: #FF9F0E;
  --color-primary-black: #181817;
  --color-secondary-orange: #FCB62A;
  --color-secondary-yellow: #FFFAF3;
  --color-secondary-lightgray: #F1F3FF;
  --color-secondary-gray: #839AA9;
  --color-secondary-lightpink: #F9F9FF;
  --color-secondary-purple: #D9A6FF;
}