//Contacts/Modal input
.input {
  position: relative;

  &__label {
    position: absolute;
    top: 16px;
    left: 42px;
  }
  &__icon {
    position: absolute;
    top: 8px;
    left: 24px;
    width: 24px;
    height: 24px;
    fill: var(--color-primary-orange);

    @media screen and (min-width: $bp-tablet) {
      left: 40px;
      width: 32px;
      height: 32px;
    }
  }
  &__control {
    position: relative;
    padding: 11px 24px 11px 56px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: normal;
    border: 1px solid var(--color-primary-orange);
    border-radius: 8px;
    background-color: transparent;

    &_:focus {
      color: var(--color-primary-black);
      outline: none; /*щоб відображалась зміна кольору при наведенні*/
    }
    &::placeholder {
      color: var(--color-primary-orange);
    }
    &:focus::placeholder {
      color: var(--color-primary-black)
    }

    @media screen and (min-width: $bp-tablet) {
      padding: 12px 35px 12px 80px;
      font-size: 18px;
      line-height: 133.333%;
      letter-spacing: 0.9px;
    }
  }
}

//Footer input
.footer-input {
  position: relative;

  &__label {
    position: absolute;
    top: 16px;
    left: 42px;
  }
  &__icon {
    position: absolute;
    top: 8px;
    left: 24px;
    fill: var(--color-primary-orange);
  }
  &__control {
    position: relative;
    padding: 10px 24px 10px 56px;
    max-width: 320px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: normal;
    border: 1px solid var(--color-primary-orange);
    border-radius: 8px;
    background-color: transparent;

    @media screen and (min-width: $bp-tablet) {
      font-weight: 700;
      letter-spacing: 0.9px;
    }

    &:focus {
      font-weight: 400;
      color: var(--color-primary-black);
      outline: none; /*щоб відображалась зміна кольору при наведенні*/
    }
    &::placeholder {
      color: var(--color-primary-orange);
    }
    &:focus::placeholder {
      color: var(--color-primary-black)
    }
  }
}
