.link {
  color: var(--color-primary-black);
  font-size: 18px;
  line-height: 133.333%;
  text-decoration: none;

  &:hover {
    color: var(--color-primary-orange);
  }
}

.more-link {
  color: var(--color-primary-orange);
  letter-spacing: 0.9px;
}