//Contacts/modal form
.form-field {
  margin-bottom: 24px;
}

.modal-button {
  margin: 0 auto;
  display: block; /*щоб працював margin*/
}

//Footer form
.footer-form-field {
  margin-bottom: 16px;
}
.footer-button {
  margin: 0 auto;
  padding: 8px 24px;
  font-weight: 700;
  display: block; /*щоб працював margin*/
}