.header {
  padding-top: 32px;

  &__container {
    display: flex;
    gap: 115px;
    align-items: center;
  }
  &__menu {
    display: flex;
    flex-grow: 1;
    gap: 48px;
  }
  &__buttons {
    display: flex;
    gap: 24px;
    align-items: center;
  }
  &__basket-icon,
  &__dogclub-icon {
    margin-top: 10px;
    fill: var(--color-primary-orange);
  }
  &__basket-icon {
    margin-top: 10px;
  }
}
