.header {
  padding-top: 32px;
}
.header-container {
  display: flex;
  gap: 115px;
  align-items: center;
}
.header-menu {
  display: flex;
  flex-grow: 1;
  gap: 48px;
}
.header-buttons {
  display: flex;
  gap: 24px;
  align-items: center;
}

.basket-icon,
.dogclub-icon {
  fill: var(--color-primary-orange);
}
.basket-icon {
  margin-top: 10px;
}