.hero-section {
  background-image: url('../images/hero-section-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 65px;

    background-image: url('../images/hero-animation-mobile.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto;

    @media screen and (min-width: $bp-tablet) {
      background-image: url('../images/hero-animation.png');
      background-repeat: no-repeat;
      background-position: 469px 155px;
      background-size: auto;
    }
  }

  &__content {
    margin: 35px auto 65px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      margin-top: 217px;
      text-align: left;
    }
  }
  &__title {
    max-width: 303px;
    margin: 0 auto 24px;
    font-size: 32px;

    @media screen and (min-width: $bp-tablet) {
      max-width: 635px;
      margin-bottom: 40px;
      font-size: 72px;
      letter-spacing: 3.6px;
    }
  }
  &__text {
    max-width: 296px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 120%;

    @media screen and (min-width: $bp-tablet) {
      max-width: 500px;
      margin-bottom: 24px;
      font-size: 22px;
      line-height: 154.545%;
    }
  }
  &__animation {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: relative;
      margin: 240px auto 60px;
      background-image: url('../images/hero-section-dog-background.png');
      background-repeat: no-repeat;
      background-position: left top;
      background-size: cover;
    }

    &::after {
      display: none;

      @media screen and (min-width: $bp-desktop) {
        position: absolute;
        display: block;
        width: 506px;
        height: 516px;
        right: 0;
        top: 15px;
        background-image: url('../images/hero-section-dog-paws.png');
        background-repeat: no-repeat;
        content: '';
      }
    }
  }
  &__image {
    margin: 55px 11px 0 72px;
  }
  &__button {
    display: block;
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet) {
      margin: 0;
    }
  }
}
