.services-section {
  background-image: url('/images/services-section-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    padding-top: 34px;
    margin: 0 auto 24px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      padding-top: 68px;
      margin: 0 auto 48px;
    }
    @media screen and (min-width: $bp-desktop) {
      background-image: url('/images/service-arrow.svg');
      background-repeat: no-repeat;
      background-position: center right;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    gap: 24px;
    margin: 0 auto;
    padding-bottom: 39px;
    text-align: center;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      max-width: 1228px;
      align-items: flex-end;
      padding-bottom: 96px;
    }
  }
  &__list {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 24px;
    }
  }
  &__mobile-card {
    display: flex;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
