.services-section {
  background-image: url('/images/services-section-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    position: relative;
    padding-top: 34px;
    margin: 0 auto 24px;
    text-align: center;

    &::after {
      display: none;

      @media screen and (min-width: $bp-desktop) {
        position: absolute;
        display: block;
        width: 194px;
        height: 144px;
        right: 3px;
        top: -18px;
        background-image: url('../images/service-arrow.png');
        @media (min-resolution: 2dppx) {
          background-image: url('../images/service-arrow-2x.png');
        }
        background-repeat: no-repeat;
        content: '';
        animation: rotate 1s 0s linear;
      }

      @keyframes rotate {
        0% {
          transform: rotate(360deg);
        }
        100% {
          transform: rotate(0);
        }
      }
    }

    @media screen and (min-width: $bp-tablet) {
      padding-top: 68px;
      margin: 0 auto 48px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    gap: 24px;
    margin: 0 auto;
    padding-bottom: 39px;
    text-align: center;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      max-width: 1228px;
      align-items: flex-end;
      padding-bottom: 96px;
    }
  }
  &__list {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 24px;
    }
  }
  &__mobile-card {
    display: flex;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
